<ul class="dropdown__list">
    <li class="dropdown__item">
        <a class="dropdown__link" href="/action/index.html">Экшен</a> 
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/arcade/index.html">Аркада</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/adventure/index.html">Адвенчура</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/rpg/index.html">РПГ</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/survival/index.html">Выживание</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/roguelike/index.html">Роуглайк</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/metroid/index.html">Метроидвания</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/horror/index.html">Хоррор</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/platformer/index.html">Платформер</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/strategy/index.html">Стратегия</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/simulator/index.html">Симуляторы</a>
    </li>
    <li class="dropdown__item">
        <a class="dropdown__link" href="/quest/index.html">Квесты</a>
    </li>
</ul>