<div class="post-content">
    <h3 class="post-content__header">Видео</h3>
    <div class="post-content__video">
        <video src="{{ page.video }}" controls="true" preload="none" poster="{{ page.video_poster }}"></video>
    </div>
    <h3 class="post-content__header">Скриншоты</h3>
    <div class="post-content__screenshot">
        <a href="{{ page.img1 }}" data-fancybox="gallery" data-caption="{{page.title}}">
            <img src="{{ page.img1 }}" alt="{{page.title}}" width="100%">
        </a>
        <a href="{{ page.img2 }}" data-fancybox="gallery" data-caption="{{page.title}}">
            <img src="{{ page.img2 }}" alt="{{page.title}}" width="100%">
        </a>
        <a href="{{ page.img3 }}" data-fancybox="gallery" data-caption="{{page.title}}">
            <img src="{{ page.img3 }}" alt="{{page.title}}" width="100%">
        </a>
        <a href="{{ page.img4 }}" data-fancybox="gallery" data-caption="{{page.title}}">
            <img src="{{ page.img4 }}" alt="{{page.title}}" width="100%">
        </a>
        <a href="{{ page.img5 }}" data-fancybox="gallery" data-caption="{{page.title}}">
            <img src="{{ page.img5 }}" alt="{{page.title}}" width="100%">
        </a>
        <a href="{{ page.img6 }}" data-fancybox="gallery" data-caption="{{page.title}}">
            <img src="{{ page.img6 }}" alt="{{page.title}}" width="100%">
        </a>
    </div>
</div>