
  <div class="slider">
    {% for post in site.posts limit:8 %}
    <div class="slide" style="background-image: linear-gradient(rgba(18, 18, 18, 0.1), rgb(18, 18, 18, 0.8) 60%), url('{{ post.image_hero }}');">
      <div class="slide__content">
        <div class="slide__flex">
          <h3 class="slide__header">{{ post.title }}</h3>
          <p class="slide__text">{{ post.description }}</p>
          <div class="slide__footer">
            <a class="button" href="{{ post.url }}">Скачать</a>
            <div class="metacritic">
              <img class="metacritic__logo" src="/assets/img/metacritic.svg" width="150" height="40"  alt="metacritick">
              <span class="metacritic__metascore">{{ post.metacritic }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="slider-nav">
    {% for post in site.posts limit:8 %}
      <div class="slider-nav__slide">
        <img class="slide__image" width="250" height="130" src="{{ post.image_header }}" alt="{{ post.title }}">
      </div>
    {% endfor %}
  </div>
