@import vars

.cards
    display: grid
    grid-template-columns: repeat(6, 1fr)
    margin-top: 35px
.card
    margin-bottom: 30px
    &__link
        text-decoration: none
    &__image
        opacity: 90%
        border-radius: 10px
        transition: .2s ease
    &__title
        font-family: 'Brutal Bold'
        transition: .2s ease
        opacity: 85%
        font-size: 16px
        color: $text-color

    &:hover
        .card__image
            opacity: 100%
        .card__title
            opacity: 100%
        img
            box-shadow: 0 0 25px #080707cc 

.category
    display: flex
    flex-wrap: wrap
    list-style: none
    padding: 0
    &__item        
        background-color: $category-color
        border-radius: 5px
        padding: 3px 5px
        margin:
            right: 5px
            bottom: 5px
    &__link
        font-family: 'Brutal'
        letter-spacing: .3px
        font-size: 13px
        text-decoration: none
        color: $text-color 
