.flex
    display: flex
    justify-content: center
    align-items: center
    position: relative

.form 
    box-shadow: $shadow 
    border-radius: 6px
    color: #B5B5B0
    background-color: $dark
    padding: 20px 
    width: 640px
    margin-top: 50px
    legend
        font-size: 24px
        font-weight: 600
    label
        margin-bottom: 10px
        display: block
        
        &::after
            content: "*"
            color: red
            margin-left: 5px

    textarea
        width: 620px

    input, textarea
        background-color: $dark-grey
        color: $text-color 
        border: none
        border-radius: 20px
        padding: 10px
        box-shadow: $shadow
        transition: .2s ease
        &:focus
            outline: 0
            box-shadow: inset 0 0 10px $dark
        &:active
            outline: 0
            box-shadow: inset 0 0 10px $dark
            
    .button
        float: right

.input-container
    display: flex
    justify-content: space-between
    input
        width: 290px

.subject-input
    width: 620px
    input
        width: 100%


