@import vars

.modal
    display: none

    &__message
        box-shadow: $shadow   
        border-radius: 6px
        margin-top: 100px
        width: 300px
        padding: 40px
        background-color: $dark
        p
            font-family: 'Brutal'
            font-size: 1.2rem
            text-align: center
        
.modal__message--active 
    display: flex
    justify-content: center
    align-items: start
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: 90
    background-color: $dark-grey