@import vars

.search   
    &__container
        position: relative

    &__input
        background-color: $main-color
        background-image: url('/assets/img/search.png')
        background-repeat: no-repeat
        background-position: 12px
        border: none
        border-radius: 50px
        padding:
            left: 30px 
            right: 10px 
            top: 10px
            bottom: 10px
        box-shadow: $shadow2

        &:focus
            outline: 0

#search-results
    padding: 0
    position: absolute
    list-style: none
    box-shadow: $shadow2
    z-index: 100
    li
        width: 200px
        padding: 10px 20px
        background-color: $dark
        &:first-child
            border-radius: 5px 5px 0 0

        &:last-child
            border-radius: 0 0 5px 5px
        a
            transition: .3s ease
            text-decoration: none
            color: $text-color
            font-family: 'Brutal Extra Bold'
            font-size: 14px
            opacity: 70%
            &:hover
                opacity: 100%
    

