@font-face 
    font-family: 'Forward'
    src: url('../assets/fonts/fontie-package/FFF Forward.ttf')

@font-face 
    font-family: 'Brutal'
    src: url('../assets/fonts/brutal-type/BrutalType.ttf')    

@font-face 
    font-family: 'Brutal Bold'
    src: url('../assets/fonts/brutal-type/BrutalType-Bold.ttf')  

@font-face 
    font-family: 'Brutal Black'
    src: url('../assets/fonts/brutal-type/BrutalType-Black.ttf')

@font-face 
    font-family: 'Brutal Medium'
    src: url('../assets/fonts/brutal-type/BrutalType-Medium.ttf')

@font-face 
    font-family: 'Brutal Extra Bold'
    src: url('../assets/fonts/brutal-type/BrutalType-ExtraBold.ttf')