--- 
layout: default 
---
<div class="container">
    <h2 class="page__title">{{ page.title }}</h2>
    <div class="cards">
        {% for post in paginator.posts %}
            <div class="card">
                <a href="{{ post.url }}" class="card__link">
                    <img class="card__image" src="{{ post.image }}" alt="{{ post.title }}" width="210" height="285">
                    <h3 class="card__title">{{ post.title }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
