--- 
layout: default 
---
<div class="content">
  {% include slider.html %}
  <h2>Все игры</h2>
  <ul class="cards">
    {% for post in site.posts limit:28 %}
      <li class="card">
        <a class="card__link" href="{{ post.url }}">
          <img class="card__image" src="{{ post.image }}" alt="{{ post.title }}" width="200" height="200">
          <h3 class="card__title">{{ post.title }}</h3>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="main-page__button">
    <a class="button" href="/all/index.html" >Все игры</a>
  </div>
</div>


