--- 
layout: default 
comments: true
---
{% include hero-post.html %}
<div class="container">
    <div class="grid-post">
        <div class="post">
            <h2 class="post__header">Описание</h2>
            <div class="post-info">
                <img class="post-info__cover" src="{{ page.image }}" alt="{{ page.title }}" width="245" height="305">
                <div class="post-info__list">
                    <ul class="post-info__details">
                        <li><strong>Дата выхода:</strong> {{ page.release-date }}</li>
                        <li><strong>Жанр:</strong> {{ page.genres }}</li>
                        <li><strong>Разработчик:</strong> {{ page.developer }}</li>
                        <li><strong>Издатель:</strong> {{ page.publisher }}</li>
                        <li><strong>Тип издания:</strong> {{ page.type }}</li>
                        <li><strong>Релиз:</strong> {{ page.release }}</li>
                        <li><strong>Язык интерфейса:</strong> {{ page.language }}</li>
                        <li><strong>Язык озвучки:</strong> {{ page.sound }}</li>
                        <li><strong>Таблетка:</strong> {{ page.therapy }}</li><br>
                    </ul>
                    <div class="metacritic">
                        <img src="/assets/img/metacritic.svg" width="150" height="40"  alt="metacritick">
                        <span class="metacritic__metascore">{{ page.metacritic }}</span>
                    </div>
                </div>
            </div>
            <p class="post__text">
                <div class="page__text-content">{{ content }}</div>
            </p>
            <div class="button-group">
                <a class="button-group__button button" href="{{ page.download }}" download>Скачать</a>
                <a class="button-group__button button" href="{{ page.steam }}" target="_blank">Купить</a>	
            </div>
            {% include post-content.html %}
        </div>
        {% include new-card.html %}
    </div>
    <div class="comments">
        {% include comments.html %}
    </div>
</div>



